
<!-- Contents here -->
	
	<div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid landing-background vc_custom_1513958049100 vc_row-has-fill vc_row-no-padding"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill"><div class="vc_column-inner vc_custom_1513957401727"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid landing-withback"><div class="landing-text wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><h1 style="font-size: 40px;color: #1e73be;text-align: left" class="vc_custom_heading landing-title" >DOWNLOAD OUR APP</h1><div class="vc_empty_space"   style="height: 30px" ><span class="vc_empty_space_inner"></span></div>

	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<p><span style="font-size: 14pt;">Book classes, personal training, and bootcamps (and sync to your calendar). Track your attendance, purchases, and rewards points. Get access to special promotions and notifications!</span></p>

		</div>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_left   app-market">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://play.google.com/store/apps/details?id=com.fitnessmobileapps.flagboxing" target="_blank" class="vc_single_image-wrapper   vc_box_border_grey"><img width="250" height="84" src="https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170701/google-play-button-250x84.png" class="vc_single_image-img attachment-medium" alt="" srcset="https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170701/google-play-button-250x84.png 250w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170701/google-play-button-120x40.png 120w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170701/google-play-button.png 600w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170701/google-play-button-180x61.png 180w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170701/google-play-button-300x101.png 300w" sizes="(max-width: 250px) 100vw, 250px" /></a>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_left   app-market">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://itunes.apple.com/us/app/flagboxing/id1075266584?mt=8" target="_blank" class="vc_single_image-wrapper   vc_box_border_grey"><img width="250" height="74" src="https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-250x74.png" class="vc_single_image-img attachment-medium" alt="" srcset="https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-250x74.png 250w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-768x227.png 768w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-700x207.png 700w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-120x36.png 120w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-180x53.png 180w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-300x89.png 300w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-600x178.png 600w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_.png 1280w" sizes="(max-width: 250px) 100vw, 250px" /></a>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="350" height="551" src="https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/21125730/app-blusss.png" class="vc_single_image-img attachment-full" alt="" srcset="https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/21125730/app-blusss.png 350w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/21125730/app-blusss-250x394.png 250w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/21125730/app-blusss-120x189.png 120w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/21125730/app-blusss-114x180.png 114w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/21125730/app-blusss-191x300.png 191w" sizes="(max-width: 350px) 100vw, 350px" /></div>
		</figure>
	</div>
</div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div>


<!-- Get footer -->

    </div> <!-- default_sitecontent -->
    <!-- Footer -->
    <footer>

        <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_custom_1513953439049 vc_row-has-fill vc_row-no-padding"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid footer-topsection vc_custom_1513953447156 vc_column-gap-35"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper"><h2 style="font-size: 20px;color: #1e92a9;text-align: left" class="vc_custom_heading arial" >CLASSES</h2><div class="vc_empty_space"   style="height: 10px" ><span class="vc_empty_space_inner"></span></div>
<div  class="wpb_widgetised_column wpb_content_element home-menu">
		<div class="wpb_wrapper">
			
			<div><div class="menu-classes-container"><ul id="menu-classes" class="menu"><li id="menu-item-2766" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2766"><a href="https://flagboxing.com/class/handstands/">Handstands</a></li>
<li id="menu-item-2767" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2767"><a href="https://flagboxing.com/class/movement/">Movement</a></li>
<li id="menu-item-2768" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2768"><a href="https://flagboxing.com/class/tabata/">Tabata</a></li>
<li id="menu-item-2769" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2769"><a href="https://flagboxing.com/class/crossfit/">Crossfit</a></li>
<li id="menu-item-2770" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2770"><a href="https://flagboxing.com/class/circuit-training/">Circuit Training</a></li>
<li id="menu-item-2771" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2771"><a href="https://flagboxing.com/class/calisthenics/">Calisthenics</a></li>
<li id="menu-item-2772" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2772"><a href="https://flagboxing.com/class/cardio-boxing/">Cardio Boxing</a></li>
<li id="menu-item-2773" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2773"><a href="https://flagboxing.com/class/muay-thai/">Muay Thai</a></li>
<li id="menu-item-2774" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2774"><a href="https://flagboxing.com/class/kickboxing-padwork/">Kickboxing Padwork</a></li>
<li id="menu-item-2927" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2927"><a href="https://flagboxing.com/class/kick-boxing-3/">Kick Boxing</a></li>
<li id="menu-item-2928" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2928"><a href="https://flagboxing.com/class/boxing-pad-work-2/">Boxing Pad Work</a></li>
<li id="menu-item-2929" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2929"><a href="https://flagboxing.com/class/beginner-boxing/">Beginner Boxing</a></li>
<li id="menu-item-2930" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2930"><a href="https://flagboxing.com/class/boxing/">Boxing</a></li>
</ul></div></div>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper"><h2 style="font-size: 20px;color: #1e92a9;text-align: left" class="vc_custom_heading arial" >WORKSHOPS</h2><div class="vc_empty_space"   style="height: 10px" ><span class="vc_empty_space_inner"></span></div>
<div  class="wpb_widgetised_column wpb_content_element home-menu">
		<div class="wpb_wrapper">
			
			<div><div class="menu-workshops-container"><ul id="menu-workshops" class="menu"><li id="menu-item-2931" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2931"><a href="https://flagboxing.com/class/handstands-2/?wcs_timestamp=1517562000">The Fundamentals of Kickboxing</a></li>
</ul></div></div>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper"><h2 style="font-size: 20px;color: #1e92a9;text-align: left" class="vc_custom_heading arial" >DOWNLOAD OUR APP</h2><div class="vc_empty_space"   style="height: 15px" ><span class="vc_empty_space_inner"></span></div>

	<div  class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://itunes.apple.com/us/app/flagboxing/id1075266584?mt=8" target="_blank" class="vc_single_image-wrapper   vc_box_border_grey"><img width="250" height="74" src="https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-250x74.png" class="vc_single_image-img attachment-medium" alt="" srcset="https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-250x74.png 250w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-768x227.png 768w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-700x207.png 700w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-120x36.png 120w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-180x53.png 180w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-300x89.png 300w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_-600x178.png 600w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170708/1280px-Download_on_the_App_Store_Badge.svg_.png 1280w" sizes="(max-width: 250px) 100vw, 250px" /></a>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://play.google.com/store/apps/details?id=com.fitnessmobileapps.flagboxing" target="_blank" class="vc_single_image-wrapper   vc_box_border_grey"><img width="250" height="84" src="https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170701/google-play-button-250x84.png" class="vc_single_image-img attachment-medium" alt="" srcset="https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170701/google-play-button-250x84.png 250w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170701/google-play-button-120x40.png 120w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170701/google-play-button.png 600w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170701/google-play-button-180x61.png 180w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/17170701/google-play-button-300x101.png 300w" sizes="(max-width: 250px) 100vw, 250px" /></a>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="350" height="551" src="https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/21125730/app-blusss.png" class="vc_single_image-img attachment-full" alt="" srcset="https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/21125730/app-blusss.png 350w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/21125730/app-blusss-250x394.png 250w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/21125730/app-blusss-120x189.png 120w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/21125730/app-blusss-114x180.png 114w, https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/12/21125730/app-blusss-191x300.png 191w" sizes="(max-width: 350px) 100vw, 350px" /></div>
		</figure>
	</div>
</div></div></div></div><div class="vc_empty_space"   style="height: 50px" ><span class="vc_empty_space_inner"></span></div>
<h2 style="font-size: 40px;color: #1e92a9;text-align: center" class="vc_custom_heading brinble vc_custom_1513530816526" >LOCATION</h2></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="wpb_gmaps_widget wpb_content_element vc_custom_1513951382699" >
		<div class="wpb_wrapper">
		<div class="wpb_map_wraper">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d675.1530894147961!2d39.16041249303053!3d21.565763757202056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjHCsDMzJzU2LjYiTiAzOcKwMDknMzguNSJF!5e0!3m2!1sen!2sph!4v1513605929518" width="600" height="" frameborder="0" style="border:0" allowfullscreen></iframe>		</div>
	</div>
</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div>

    	<div class="container-fluid"> 
    		<div class="row footer-container">
    			<div class="col-md-4">
    				<h3 class="footer-text">Copyright. Flagboxing &copy; 2017</h3>
    			</div>
    			<div class="col-md-4">
                    <div class="footer-scmedia">
                        <ul class="">
                            <li>
                                <a href="https://www.facebook.com/flagboxing/">
                                    <img class="sc-icon" src="https://flagboxing.com/wp-content/themes/flag-boxing/assets/img/sc/fb.png">
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/hashtag/flagboxing">
                                    <img class="sc-icon" src="https://flagboxing.com/wp-content/themes/flag-boxing/assets/img/sc/twitter.png">
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/discover">
                                    <img class="sc-icon" src="https://flagboxing.com/wp-content/themes/flag-boxing/assets/img/sc/googleplus.png">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/">
                                    <img class="sc-icon" src="https://flagboxing.com/wp-content/themes/flag-boxing/assets/img/sc/in.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="copyright">
                        <p>
                            Developed by: <a href="http://sarchitech.com">Sarchitech</a>
                        </p>
                    </div>
                </div>
    		</div>
    	</div>
        <!-- BACK TO TOP -->
        <!--   <a href="javascript:void(0)" id="back-to-top">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </a> -->


    </footer>
    <link rel='stylesheet' id='js_composer_front-css'  href='https://flagboxing.com/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=5.2.1' type='text/css' media='all' />
<script type='text/javascript' src='https://flagboxing.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://flagboxing.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='https://flagboxing.com/wp-content/plugins/woocommerce-multilingual/res/js/front-scripts.min.js?ver=4.2.6'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var actions = {"is_lang_switched":"0","is_currency_switched":"0","force_reset":"0","cart_fragment":"wc_fragments_03cfc7fada56badfb86666ec0b418b18"};
/* ]]> */
</script>
<script type='text/javascript' src='https://flagboxing.com/wp-content/plugins/woocommerce-multilingual/res/js/cart_widget.min.js?ver=4.2.6'></script>
<script type='text/javascript' src='https://flagboxing.com/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=5.2.1'></script>
    <script type="text/javascript">

        var distance = $("#home_coches").offset().top;

        var visits = jQuery.cookie('visits') || 0;
        // visits++;
        jQuery.cookie('visits', visits, { expires: 2/24, path: '/' });

        jQuery(window).scroll(function() {  
            var scroll = jQuery(window).scrollTop();

            if (scroll >= 50) {
                jQuery('.fl-header-wrapper').addClass('scrolled');
            } else {
                jQuery('.fl-header-wrapper').removeClass('scrolled');
            }

            if (scroll >= distance) {
                console.debug(jQuery.cookie('visits'));

                if ( jQuery.cookie('visits') > 1 ) {
                    jQuery('.get-the-app').hide();
                } else {
                    jQuery('.get-the-app').fadeIn('500');
                }

                if (jQuery.cookie('noShowWelcome')) { 
                    jQuery('.get-the-app').hide();
                } 
            }

        });
        

        jQuery('a#close-app').click(function(){
          jQuery('.get-the-app').hide();
          var visits = jQuery.cookie('visits') + 1;
        });

        jQuery('.hmClass-carousel').owlCarousel({
            margin:10,
            nav:true,
            navText: [arrowLeft, arrowRight],
            dots:false,
            responsive:{
                0:{
                  items:1
                },
                600:{
                  items:2
                },
                1000:{
                  items:3
                },
                1400:{
                  items:4
                }
            }
        });

        jQuery('.all-media-news').owlCarousel({
            autoplay: true,
            autoplayHoverPause: true,
            margin:10,
            nestedItemSelector: 'media-item',
            nav:false,
            dots:false,
            responsive:{
                0:{
                  items:1
                },
                600:{
                  items:3
                },
                1000:{
                  items:5
                }
            }
        });

        jQuery(window).load(function(){

            var winWidth = $(window).width();

            if (winWidth > 767) {
                jQuery('.home-top-inner').fadeOut();
            }

            var url = window.location.href; 
            var hash = window.location.hash;

            // console.log(jQuery(hash).offset().top, jQuery(hash).offset().top +100);

            if (hash != "") {
                jQuery("html, body").animate({
                    scrollTop: parseInt(jQuery(hash).offset().top) - 80 
                }, 1000);
            }

        });


    </script>
</body>
</html>
