/* CALENDAR */
.fc button {
	padding: 12px .6em 7px !important;
}
.wcs-timetable__monthly-schedule .fc-toolbar.fc-header-toolbar {
	margin-bottom: 1em;
	display: block;
}
@media (max-width: 991px) {
	.wcs-timetable__monthly-schedule .fc-toolbar.fc-header-toolbar .fc-left,
	.wcs-timetable__monthly-schedule .fc-toolbar.fc-header-toolbar .fc-right {
	    flex-basis: 100%;
	}
}

@media (max-width: 797px) {
	.fc-day-header > span {
	    font-size: 15px;
	}
	.fc-toolbar .fc-center {
		margin-top: 15px;
	}
}

@media (max-width: 680px) {
	.fc button {
	    padding: 5px !important;
	}
}
@media (max-width: 620px) {
	.fc button {
        font-size: 15px !important;
	}
}
@media (max-width: 520px) {
	.wcs-timetable__monthly-schedule .fc-basic-view .fc-day-number {}
	.fc .fc-toolbar>*>* {
		margin-left: 0px !important;
	}
	.fc button {
        font-size: 12px !important;
	}
}

/* COACHES */
#najia .full-height {
	position: absolute;
    right: 0px;
}

@media (max-width: 797px) {
	#najia .full-height {
		position: relative;
		right: auto;
	}
}



/* FOOTER */
@media (max-width: 767px) {
	footer {
	    padding-bottom: 0px !important;
	}

	footer .footer-section .vc_column-inner {
		padding-top: 0px !important;
	}
	footer .footer-section > div{
		padding: 15px 0px !important;
	}

	footer .home-menu {
		margin-bottom: 0px;
	}
	footer .footer-topsection {
		margin-left: -10px !important;
	}
	footer .footer-topsection > div {
		padding: 10px 0px !important;
	}
	footer .footer-topsection h2{
	    margin: 0px;
	}
	footer .footer-topsection h2:after{
		content: "\f196";
		position: absolute;
		right: 0px;
		display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: 25px;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    cursor: pointer;
	}
	footer .footer-topsection h2.shownow:after{
		content: "\f147";
	}

	footer .footer-topsection h2.download-header:after {
		display: none;
	}

	footer .home-menu ul.menu {
		display: none;
	}
	footer .home-menu ul.menu.showmenu {
		display: block;
	}
	footer .home-menu ul li {
	    margin-bottom: 5px;
	    border-bottom: 1px solid #ffffff29;
	    padding-bottom: 10px;
	}

	footer .home-menu ul li:last-child {
		border-bottom: none;
	}

	footer .footer-topsection .mobile-mockup {
		display: none;
	}

	footer .footer-topsection .download-images .wpb_single_image  {
		text-align: left;
	    display: inline-block;
	    margin-top: 10px;
	    margin-bottom: 10px;
	}

	footer .footer-topsection .download-images .wpb_single_image .vc_figure {
		max-width: 80% !important;
	}
}


/* HEADER */

@media (max-width: 991px) {
	.fl-header-wrapper {
		height: 140px;
	}
	.fl-header {
	    top: -20px;
	}
	.call-inner {
	    right: 60px !important;
    	top: 45px !important;
	}
	.social-inHd li {
		font-size: 25px !important;
	}
	.fl-header-wrapper.scrolled .menu-navigation .site-logo img  {
		padding: 5px;
	}
	.default_sitecontent {
		padding-top: 135px !important;
	}
	.home .default_sitecontent {
		padding-top: 100px !important;
	}
}

/* COACHES */
.page-id-3157 .default_sitecontent .wpb_single_image {
	margin-bottom: 0px !important;
}
@media (max-width: 991px) {
	.coach-item h2 {
		font-size: 30px !important;
	}
	.coach-item h3 {
		font-size: 25px !important;
	}
	.coach-item p, .coach-item span{
		font-size: 16px !important;
	    line-height: 25px;
	}
}

/* SINGLE CLASS (WORKSHOPS AND CLASSES) */

@media (max-width: 991px) {
	.ce-title {
	    font-size: 17px;
	}
	.ce-content, .ce-content h3, .ce-instructor {
		font-size: 16px;
	}
}


/* JOIN US */
@media (max-width: 991px) {

}


.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

/* PAUSE PLAY*/

#play-button, #pause-button {
position: absolute;
    left: 0px;
    bottom: 0px;
    height: 95px;
    width: 85px;
    z-index: 99;
    cursor: pointer;
    opacity: 1;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 0px;
    opacity: .4;
    margin-left: 0;
}

#mute-button, #unmute-button {
	position: absolute;
    left: 0px;
    top: 100px;
    height: 100px;
    width: 100px;
    z-index: 99;
    cursor: pointer;
    opacity: 1;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 0px;
    opacity: .4;
    margin-left: 0;
}

#play-button:hover, #pause-button:hover{
	opacity: 1;
}
	@media (max-width: 1280px) {
		#mute-button, #unmute-button {
			top: 10px;
		}
	}
	@media (max-width: 767px) {
		#mute-button, #unmute-button, #play-button, #pause-button {
			display: block;
		}
	}


#mute-button:before, #unmute-button:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    content: "\f28c";
	padding: 0px;
    font-size: 60px;
    color: #fff;
}
#mute-button:before {
	content: "\f026";
}
#unmute-button:before {
	content: "\f028";
}

#mute-button.disabled-button, #unmute-button.disabled-button {
	display: none;
}

#play-button:before, #pause-button:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    content: "\f28c";
	padding: 0px;
    font-size: 60px;
    color: #fff;
}
#play-button:before {
	content: "\f01d";
}
#pause-button:before {
	content: "\f28c";
}

#play-button.disabled-button, #pause-button.disabled-button {
	display: none;
}

.home-feature-video .ytp-expand-pause-overlay .ytp-pause-overlay {
	display: none !important;
}

.home-feature-video:hover #play-button,
.home-feature-video:hover #pause-button {
	opacity: 1;
	transition: 500ms;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
}


.all-media-news .owl-nav.disabled {
	display: block;
}

/*  SUB MENU */

.flagbx-menu ul > li.menu-item-has-children {
	position: relative;
} 

.sub-menu {
	display: none;
    position: absolute;
    z-index: 9;
    width: 300px;
    background-color: #131416;
    text-align: left;
    top: 42px;
    left: -2px;
    border: 1px solid #191a1a;
    box-shadow: 0px 13px 15px rgba(0,0,0,.6);
    border-top: none;
    padding-top: 30px !important;
}
.classes-menu .sub-menu {
    width: 420px;
}

.sub-menu-columns ul.sub-menu li a {
	color: #fff;
}

.fl-header-wrapper.scrolled .sub-menu-columns ul.sub-menu li a:hover {
	color: #22b3d2 !important;
}

.sub-menu-columns ul.sub-menu li{
	float: none;
	display: block;
	width: 100%;
}


.classes-menu ul.sub-menu li {
    display: inline-block;
    float: left;
    width: 200px;
}
.classes-menu ul.sub-menu li:nth-child(odd) {
    float: left;
    margin-right: 10px;
}
.classes-menu ul.sub-menu li:nth-child(even) {
    float: right;
}


@media (max-width: 1280px) {
	.fbx-wrappermn.shw {
		overflow-y: auto;
	}
	.sub-menu {
	    width: 100%;
	    text-align: center;
	    z-index: 9999999;
	    top: 185px;
	    padding:  0px;
	    background-color: #020202;
	}

	.sub-menu.position-static {
	    position: static;
	    display: block;
	    background-color: #1ea1bd;
	    margin-top: 0px;
	    top: 9px;
	    padding: 20px !important;
	}
	ul.sub-menu li a{
		font-size: 80%;
	}

	.fbx-wrappermn li a:hover, .fbx-wrappermn li a:focus {
		color: #fff !important;
		opacity: .8;
	}

}
@media (max-width: 991px) {
	.sub-menu {
	    width: 100%;
	    text-align: center;
	    z-index: 9999999;
	    top: 142px;
	}
}
