<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/*** hfarazm.com ******/
.social-inHd li {
    border: 1px solid #22b3d2 !important;
    font-size: 20px;
    width: initial;
    padding: 5px 8px;
    line-height: 0px;
}
.ce-title {
	margin-bottom: 0px;
}
.ce-instructor {
    font-family: 'Roboto', sans-serif !important;
}
.ce-price {
    display: none;
}
p, li, #addTocart-id, #qty-input, .ce-content, .woocommerce .cart_item a.remove, .woocommerce table.shop_table tbody tr td,
.woocommerce table.shop_table tbody tr:last-child input, .woocommerce-page .woocommerce .wc-proceed-to-checkout a,
.woocommerce-page.woocommerce-checkout #customer_details label, 
.woocommerce-info, .woocommerce #payment #place_order, .woocommerce-page #payment #place_order,
.package-list .package-item > .vc_column-inner > .wpb_wrapper h3 {
	font-family: 'Roboto', sans-serif !important;
}

.vc_btn3.vc_btn3-color-info, .vc_btn3.vc_btn3-color-info.vc_btn3-style-flat {
    color: #FFF;
    background-color: #23b3d2;
}
.woocommerce-page .select2-selection--single {
  border: 1px solid #b9b9b9;
  padding: 12px 10px;
  /* width: 150px; */
  font-size: 15px;
  outline: none;
  height: 40px;
  border-radius: 0px;
}
.page-id-529 .cc-item,
.home .cc-item,
.page-id-1717 .cc-item, .cc-item {
    background-color: rgb(19, 20, 22);
}
.page-id-529 .cc-book-now,
.home .cc-book-now,
.page-id-1717 .cc-book-now{
    position: absolute;
    bottom: 25px;
    right: 25px;
}
.page-id-529 .cc-book-now a,
.home .cc-book-now a,
.page-id-1717 .cc-book-now a {
    background: #22b1d0;
    display: block;
    padding: 7px 15px 5px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.fc-list-table td {
    border-width: 1px 0 0;
    padding: 8px 14px;
    font-family: 'Roboto', sans-serif;
}
.fc-day-grid-event .fc-content {
    white-space: nowrap;
    overflow: visible !important;
}
.flagbx-menu ul li {
  	padding: 7px 20px 10px !important;
    line-height: initial;
}
.wcs-timetable--4 .wcs-timetable__monthly-schedule .fc-event:not(.wcs-class--past-event) {
    color: rgba( 255,255,255,0.95);
    margin-top: 0px;
    padding: 2%;
    width: 93%;
}
.wcs-timetable--4  a.fc-more {
    margin: 1px 3px;
    font-size: 13px;
}
.wcs-timetable__monthly-schedule .fc-event {
    border-color: transparent;
    font-size: 15px;
    box-shadow: none;
    padding: 0;
    float: left;
    max-height: initial;
    width: 97%;
    height: auto;
    box-sizing: content-box;
    margin: 0px 1%;
    line-height: unset;
    display: block;
    font-family: 'Roboto', sans-serif;
}
.fc button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: initial;
    margin: 0;
    height: initial;
    padding: 20px .6em 7px;
    font-size: 1em;
    white-space: normal;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    float: left !important;
    line-height: 10px;
}

@media (max-width: 1280px) {
  /* header */
.social-inHd li {
    color: #22b3d2 !important;
    border: 0px solid #22b3d2 !important;
    font-size: 20px;
    width: initial;
    padding: 0px 2px;
    top: 0 !important;
    margin-right: 5px !important;
    line-height: 0px !important;
}
  .social-inHd li a {
    color: #ffffff !important;
  }
  .right-top-wrapper {
    position: relative;
    top: -150px;
    right: 0px;
    background: #23b3d2;
    padding-top: 8px;
}
.right-top-wrapper ul li {
    display: inline-block;
    margin-right: 10px;
    top: 10px;
    position: relative;
    color: #22b3d2 !important;
    border: 0px solid #22b3d2 !important;
    font-size: 20px !important;
    width: initial;
    padding: 0px 2px;
    top: 0 !important;
    margin-right: 5px !important;
    line-height: 0px !important;
}
.cart-contents::before {
    font-family: WooCommerce;
    content: "\e01d";
    font-size: 30px;
    margin-top: 0px;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    padding: 0px 0px 10px 0px;
    vertical-align: middle;
    color: #fff;
}
  .fl-header-wrapper {
    padding: 70px 0 0px 0;
}
.fl-header-wrapper.scrolled .nav-icon {
    width: 30px;
    height: 50px;
}
.nav-icon span {
    background: #aaafb0 !important;
    height: 2px;
}
  .call-inner {
    position: absolute;
    right: 40px;
    top: 78px;
    z-index: 99999;
}
  .call-inner span.vc_icon_element-icon.fa.fa-phone {
    color: #23b3d2 !important;
    margin-top: 15px;
}
/* Header home hero */
  .home-top-title {
    font-size: 26px!important;
}
  .home-top h2 {
    font-size: 18px !important;
    color: #ffffff;
    text-align: center;
    line-height: 26px;
}
  .home-top {
    background-position: 0px 48px;
    width: 100% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
  footer {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0px !important;
    padding: 5% !important;
    float: left !important;
    display: block !important;
    position: initial !important;
    right: 0px !important;
}
footer .vc_row {
    margin: 0px;
    width: 100%;
    padding: 0px;
}
footer li, footer h2 {
    padding: 0 0 0 3px;
}
footer .wpb_single_image .vc_single_image-wrapper {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    padding-left: 5px;
}
  .copyright p {
    text-align: center;
}


}</style>
<!-- end Simple Custom CSS and JS -->
