/* FLAG BOXING STYLE */

/* DEFAULT */


@font-face {
    font-family: Brinbe;
    src: url('../fonts/BRINBE__.TTF');
}

@font-face {
    font-family: Brinble;
    src: url('../fonts/BRINBLE_.TTF');
}

@font-face {
    font-family: Brine;
    src: url('../fonts/BRINE___.TTF');
}

@font-face {
    font-family: BrinkExtended;
    src: url('../fonts/BrinkExtended.ttf');
}

@font-face {
    font-family: Expedition;
    src: url('../fonts/Expedition.otf');
}


* {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 20px;
    text-rendering: optimizeLegibility !important;
    transition: .5s;
    -webkit-transition: .5s;
}

a:hover,
a:focus {
	text-decoration: none;
}

.arial {
    /* font-family: Arial, sans-serif; */
}
.BrinkExtended {
    font-family: BrinkExtended, sans-serif;
}

.brinbe {
    font-family: Brinbe, sans-serif;
}

.Brinble {
    font-family: Brinble, sans-serif;
}


.din-regular {
    /* font-family: DIN-Regular, sans-serif; */
}

/* .din-bold {
	font-family: DINBold, sans-serif;
}
 */
.full-height > div {
    height: 100vh;
}

.full-importantheight > div {
	height: 100vh;
}

.white-text, .white-text p{
	color: #fff !important;
}

.text-blackshadow {
    text-shadow:  1px 5px 8px #000000;
}

.top-position {
    background-position: top !important;
}

.margin-0 {
    margin: 0;
}

.bg-fixed {
    background-attachment: fixed;
}

.default-fbBtn a {
	border: 1px solid #fff !important;
    border-radius: 0 !important;
    font-family: BrineExtended, sans-serif !important;
    padding: 10px 12px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    min-width: 100px !important;
    font-weight: bold !important;
}

.workshop-grid-title h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    /* font-family: Brine, sans-serif; */
    letter-spacing: 2px;
    line-height: 20px;
    min-height: 60px;
} 

.call-inner .social-inHd {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
    top: 15px;
    padding-top: 0px;
    left: 15px;
}

.social-inHd li {
	color: #22b3d2 !important;
    border: 2px solid #22b3d2 !important;
    font-size: 20px !important;
    width: 40px;
 	padding: 2px 10px;
}

.social-inHd li a {
	color: #22b3d2 !important;
}

.social-inHd li a:hover,
.social-inHd li a:focus {
	color: #22b3d2 !important;
}

.add-border-topbtm {
    border-top:  1px solid #eee;
    border-bottom:  1px solid #eee;
}

/* HEADER */

.top-header {
	display: none;
    position: fixed;
    /* display: block; */
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    /* background-color:rgba(35, 171, 192, .9); */
    background-color: transparent;
    /* box-shadow: 1px 1px 20px #9a9a9a; */
    padding: 20px 0px;
    transition: 1s;
}

/* .top-header.scrolled {
    background-color: rgba(0, 0, 0, .8);
    bottom: auto;
    top: 0;
    transition: 1s;
    padding: 0px;
} */

.sc-icons {
    display: inline-block;
    width: 100%;
}

/* MENU */

.fbx-topheader {
	position: relative;
    display: table;
    width: 100%;
    height: 35px;
}

.fbx-topheader > div {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.fbx-wrappermn {
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .9);
    display: block;
    height: 100%;
    width: 100%;
    right: 0;
    text-align: left;
    opacity: 0;
    transition: .8s;
    z-index: -1;
    visibility: hidden;
}

.fbx-wrappermn.shw {
    opacity: .9;
    z-index: 9;
    visibility: visible;
}

.fbx-wrappermn li {
    display: block;
    position: relative;
    /* padding: 5px 10px; */
    /* border-bottom: 1px solid #eee; */
}

.fbx-wrappermn li a {
    padding: 5px 20px;
    width: 350px;
    display: block;
    transition: 0.5s;
    margin: auto;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
}

.fbx-wrappermn li a:hover, 
.fbx-wrappermn li a:focus {
    color: #23a3bc;
}
.fbx-wrappermn li.sub-menu-mobile > span{
    width: 30px;
    position: absolute;
    height: 30px;
    right: 10px;
    z-index: 999;
    top: 0px;
    cursor: pointer;
}
.fbx-wrappermn li.sub-menu-mobile > span:after {
    width: 30px;
    position: absolute;
    content: "\f078";
    height: 13px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 13px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    margin: auto;
    z-index: 9999;
}
.fbx-wrappermn li.sub-menu-mobile.open-menu > span:after {
    content: "\f078";
}
.fbx-wrappermn li.sub-menu-mobile.close-menu > span:after {
    content: "\f077";
    
}
.fbx-wrappermn li.sub-menu-mobile:hover > span:after{
    color: #21acca;
}

.top-header.scrollfx  {
    text-shadow: none;
    color: #000;
}

.fbwrapperinner {
    height: 100vh;
    width: 100%;
    display: table;
    margin:  auto;
}

.fbwrapperinner > div {
    /* display: table-cell; */
    display: block;
    margin-top: 186px;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.fbx-menu {
    text-align: center;
    padding: 0;
}

.menu-br > div {
    margin-right: 20px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 25px;
}

.language-menu ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.language-menu ul li {   
    display: inline-block;
}

.language-menu ul li a {
    font-size: 25px;
    color: #23a3bc;
}   

/* NAV ICON  */

/* Icon 2 */

.menu-br, .fbx-logo {
    position: fixed;
    z-index: 999;
}

.menu-br {
    top: 40px;
    right: 10%;
    transition: 1s;
}

.fbx-logo {
    top: 0px;
    left: 10px; 
    transition: 1s;   
}

.fbx-logo.scrolled {
    top: 0px;
}

.menu-br.scrolled {
    top: 20px;
    text-align: right;
}

.menu-br.scrolled, .fbx-logo.scrolled {
    position: relative;
}


.nav-icon {
    /* display: none; */
    width: 45px;
    height: 35px;
    position: relative;
    margin: 0 0 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: #23a3bc;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0px;
}

.nav-icon span:nth-child(odd) {
  left:0px;
  border-radius: 0px;
}

.nav-icon span:nth-child(1), .nav-icon span:nth-child(2) {
  top: 0px;
}

.nav-icon span:nth-child(3), .nav-icon span:nth-child(4) {
  top: 12px;
}

.nav-icon span:nth-child(5), .nav-icon span:nth-child(6) {
  top: 25px;
}

.nav-icon.open span:nth-child(1),.nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-icon.open span:nth-child(2),.nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.nav-icon.open span:nth-child(2) {
  left: calc(50% - 1px);
  top: 7px;
}

.nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.nav-icon.open span:nth-child(5) {
    left: 4px;
    top: 20px;
}

.nav-icon.open span:nth-child(6) {
  left: calc(50% - 1px);
  top: 19px;
}

.fbx-logo img {
    height: 100px;
    width: auto;
}

/* .flag-boxing-logo {
	height: 100px !important;
}
 */
.fbx-logo.scrolled img {
    height: 75px;
}


    @media (max-width: 1200px) {

        .nav-icon {
            display: block;
        }
    }


    @media (max-width: 767px) {

        .fbx-wrappermn li a {
            font-size: 18px;
            width: 100%;
            padding: 5px 0px;
        }

        .fbx-logo {
            top: 10px;
            left: 10px;
        }

        .fbx-logo img {
            height: 80px;
        }

        .menu-br {
            top: 20px;
            right: 20px;
        }
    }



    @media (max-width: 767px) {

        .nav-icon {
            width: 35px;
        }

        .fbx-logo .flag-boxing-logo {
            font-size: 25px;
        }

        .nav-icon span:nth-child(3), 
        .nav-icon span:nth-child(4) {
            top: 10px;
        }

        .nav-icon span:nth-child(5), 
        .nav-icon span:nth-child(6) {
            top: 20px;
        }

        .nav-icon.open span:nth-child(5),
        .nav-icon.open span:nth-child(6) {
            top: 15px;
        }

    }


/* SOCIAL MEDIA */
.fbx-socialmedia {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	/* text-align: center; */
	padding: 5px 0;
}

.fbx-socialmedia li {
    display: inline-block;
    border: 3px solid #2b2b2b;
    width: 35px;
    text-align: center;
    transition: .7s;
    -webkit-transition:  .7s;
    margin-left: 5px;
}

.fbx-socialmedia li:first-child {
    margin-left: 0;
}

.fbx-socialmedia li a {
    color: #fff;
    font-size: 20px;
}

.fbx-socialmedia li:hover {
	box-shadow: 4px 10px 15px #1f1f1f;
	border: 1px solid #797979;
}

/* CART PAGE */


.woocommerce-cart-form {
    padding: 20px;
}

.woocommerce-cart-form table {
    border: none;
}

.woocommerce-message {
	background-color: transparent;
	border:  none;
}

.cart-page-title {
	text-align: center;
    font-family: Brinbe, sans-serif !important;
    letter-spacing: 2px;
    font-size: 45px;
    color: #20a5c1;
}

.cart-page-subtitle {
	font-size: 14px;
    letter-spacing: 1.5px;
    font-family: Brinble,sans-serif;
    color: grey;
}

.cart-empty {
	font-size: 30px;
    padding: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.woocommerce-info {
    border-top-color: #1e85be !important;
    border: none !important;
    background: transparent !important;
}

/*  FOOTER  */

/* footer {
    background-color: #262626;
    padding: 40px 0;
} */

.footer-logo img {
    height: 175px;
}

.footer-logo a {
    display: inline-block;
}

.bottom-ftxt, .bottom-ftxt-1 {
    color: #989898;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;  
    font-size: 11px;     
}

.bottom-ftxt-1 {
    margin-top: 0px;   
    font-size: 10px;
}

.bottom-footer {
    background-color: #151515;
    padding: 20px 15px;
}

.bottom-footer a {
    color: #fff;
}

.bottom-footer p {
    margin: 0;
}

.footer-title {
    color: #fff;
    border: 2px solid #fff;
    padding: 10px;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.cnt-txt {
    color: #fff;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu li {
    display: block;
    margin-bottom: 15px;
}

.footer-menu li a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.footer-dailyagenda #wcs-app-3 {
    padding: 0;
}

.footerg-map {
    margin-bottom: 0 !important;
}

.footerg-map iframe {
    width: 100% !important;
    height: 350px;
}

.footerg-map p {
    color: #fff;
    font-size: 16px;    
}

span.ft-separator {
    color: #ffffff;
    font-size: 12px;
    padding: 0 10px;
}

/* OVERRIDE CLASSES */

.week-class .wpb_content_element {
    margin-bottom: 0 !important;
}

.week-class > div {
    padding-top: 0  !important;
}

#wcs-app-1 {
    min-height: auto !important;
    padding: 0;
    margin: 0;
}

.fc-day-header {
    background-color: #23a3bc;
}

.fc-day-header > span {
    color: #fff !important;
}

.fc-button {
    border: 2px solid transparent !important;
    background-color: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    background-image: none !important;
    text-transform: uppercase !important;
    /* font-family: DINBold, sans-serif !important; */
    outline: none;
}

.fc-state-active {
    border: 2px solid #22b2d1 !important;
}

.upcoming-class .wcs-class__image {
    height: 180px;
    overflow: hidden;
} 

.single #single-wcs-event {
    padding-top: 100px;
}

.single #single-wcs-event .wcs-single-left {
    padding: 0 10%;
    text-align: center;
    font-size: 20px;
}

.single #single-wcs-event .wcs-single__date::before,
.single #single-wcs-event .wcs-single__starting::before {
    font-size: 26px;
    opacity: .6
}

.single #single-wcs-event .wcs-single__ending,
.single #single-wcs-event .wcs-single__starting,
.single #single-wcs-event .wcs-single__date {
    font-size: 26px;
}

.single #single-wcs-event .wcs-single__duration {
    font-size: 20px;
    opacity: 1;
}

.single #single-wcs-event .wcs-single__instructor {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1;
    color: #23a3bc;
}

.wcs-timetable--4 .wcs-timetable__monthly-schedule .fc-event:not(.wcs-class--past-event)::before {
    background-color: #21b0ce !important;
}

/* CART */

.woocommerce-page .default_sitecontent {
    padding: 10% 15px;
}

.woocommerce-page table tbody {
    background-color: #fff;
}

.woocommerce-page table thead {
    background-color: #fff;
    color: grey;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* font-family: Arial, sans-serif; */
    font-size: 16px;
    border: none;
}

.woocommerce-page table {
    border: 0px solid transparent;
}

.woocommerce table.shop_table th {
	color:#464646;
}

.woocommerce table.shop_table {
	border:  none !important;
}

.woocommerce table.shop_table td {
	border: none;
}
.woocommerce-page table thead th {
	border-bottom: 1px solid #dedede;
}

#add_payment_method table.cart img, 
.woocommerce-cart table.cart img, 
.woocommerce-checkout table.cart img {
	width: 150px;
}


.woocommerce-page .woocommerce input[type=submit], 
.woocommerce-page .woocommerce a.button,
.wcs-btn.wcs-btn--action {
    background-color: transparent !important;
    border: 2px solid #23a3bc !important;
    border-radius: 0 !important;
    /* font-family: DINBold, sans-serif !important; */
    text-transform: uppercase !important;
    outline: none !important;
    color: #23a3bc !important;
    transition: .5s !important;
     -webkit-appearance: none !important;
    text-rendering: optimizeLegibility;
    font-size: 16px;
}

.woocommerce-page .woocommerce input[type=submit]:hover, 
.woocommerce-page .woocommerce a.button:hover,
.wcs-btn.wcs-btn--action:hover {
    background-color: #23a3bc !important;
    color: #fff !important;
     -webkit-appearance: none !important;
}

.woocommerce-page input[type=text],
.woocommerce-page select, 
.woocommerce-page .select2-selection--single, 
.woocommerce-page input[type=tel], 
.woocommerce-page textarea, 
.woocommerce-page input[type=email] {
    border: 1px solid #b9b9b9;
    padding: 6px 5px;
    /* width: 150px; */
    font-size: 15px;
    outline: none;
}


.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 12px !important;
    outline: none;
}


.woocommerce-cart .woocommerce .return-to-shop {
    display: none;
}

.woocommerce-cart .woocommerce .cart-empty {
    text-align: center;
}


.woocommerce-cart .wcs-woo-description {
	display: none;
}

/* CHECKOUT */

/* .woocommerce-page.woocommerce-checkout .default_sitecontent  {
    padding: 15px;
}
 */

.woocommerce-page.woocommerce-checkout #customer_details label {
    font-size: 15px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

/* WEEKLY CLASS */

.wcs-modal__inner-side .wcs-btn.wcs-btn--action {
    color: #fff !important;
}

.wcs-modal__inner-side .wcs-btn.wcs-btn--action:before {
    background: none;
}


/* BACK TO TOP */

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

#back-to-top:hover {
    background: #e9ebec;
}

#back-to-top.show {
    opacity: 1;
}

/* SINGLE -MEDIA COVERAGE */

.single-mediacoverage {
    padding: 12% 0;
    background-color: #eee;
}

.mc-featureimage {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    background-position: center;
}

.pattern {

}

.mctitle-wrapper {
    text-align: center;
}

.mc-title {
    /* background: rgba(255, 255, 255, .8); */
    color: #000;
    min-width: 300px;
    display: inline-block;
    margin: 0;
    font-size: 40px;
    margin-bottom: 5%;
    position: relative;
}

.mc-title:before {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #23a3bc;
    position: absolute;
    left: 5px;
    bottom: -20px;
    text-align: center;
    margin: auto;
    right: 0;
}

.mc-content {
    padding: 20px 0;
}

.news-items  {
    padding: 5% 0;
}

.media-left img {
    height: 65px;
}

.media-heading {
}
.media-thead-n {
    font-size: 30px;
    line-height: 15px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #222222;
    border: none;
    padding: 12px 5px;
    text-align: left;
    margin-top:100px;
    margin-bottom: 30px;
}
.media-thead {
    font-size: 30px;
    line-height: 15px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #222222;
    border: none;
    padding: 12px 5px;
    text-align: left;
    margin-top:100px;
    margin-bottom: 30px;
}



/* LATEST NEWS */

.sidebar-latestnews {
    background-color: #eee;
}

/* *************** */



.wpb_gmaps_widget {
    margin-bottom: 0px !important;
}

.wpb_gmaps_widget iframe {
    width: 100% !important;
    height: 350px !important;
}

.wcs-modal__meta li span {
    margin-left: 35px !important;
}
.wcs-modal__meta li span.ti-user,
.wcs-modal__meta li span.wcs-addons--pipe,
.wcs-modal__meta li span.wcs-addons--blink {
    margin-left: 0px !important;
}

.single #single-wcs-event {
    padding-top: 0 !important;
    padding-bottom: 50px !important;
}

footer .wcs-single-right {
    display: none !important;
}

footer .wcs-single-left {
    padding: 0 !important;
}

.single footer #single-wcs-event {
    padding-bottom: 0 !important;
}

footer .wcs-single-left .wcs-map {
    display: none !important;
}

.footer-container {
    padding: 15px 0;
}

.copyright {
    text-align: right;
    margin-top: 15px;
}

.copyright p {
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    letter-spacing: 2px;
   font-family: Brine, sans-serif !important;
}

.copyright a {
    color: #fff;
    font-family: Brine, sans-serif !important;
    transition: 1s;
}

.copyright a:hover,
.copyright a:focus { 
    color: #fff;
}

.default_sitecontent {
    padding-top: 140px !important;
}

    @media (max-width: 1280px) {
        .default_sitecontent {
            padding-top: 180px !important;
        }
        .home .default_sitecontent {
            padding-top: 140px !important;
        }
    }

.fl-header-wrapper {
    padding: 30px 0;
}

.flagbx-menu ul li a {
    font-weight: 600;
    font-size: 18px !important;
    color: #22b3d2 !important;
    font-family: Brine, sans-serif !important;
}

.flagbx-menu ul li {
    display: inline-block !important;
    padding: 10px 20px !important;
}

.flagbx-menu > ul > li.current-menu-item {
    background-color: #1e92a9 !important;
    border: 1px solid #fff !important;
}

.flagbx-menu > ul > li.current-menu-item > a {
    color: #fff !important;
}

.flagbx-menu ul li:hover > ul {
    display: block;
}

.menu-navigation .site-logo img {
    height:120px !important;
}

.fl-header-wrapper.scrolled .menu-navigation .site-logo img {
    height: 80px !important;
}

.fl-header-wrapper.scrolled .menu-navigation li a {
    font-size: 14px !important;
}

.fl-header-wrapper.scrolled .menu-navigation li:hover a {
    color: #fff !important;
}

.language-menu {
    position: absolute !important;
    right: 20px !important;
    z-index: 9 !important;
    top: 0 !important;
}

.language-menu ul li a {
    font-weight: bold !important;
    padding: 5px 10px !important;
}

.page-fbtitle {
    font-family: Brinbe, sans-serif;
    font-size: 50px;
    text-shadow: 1px 1px 20px #000;
    letter-spacing: 2px;
}

.page-subfbtitle {
    font-size: 20px;
    font-family: Brinbe, sans-serif;
    text-shadow: 1px 1px 20px #000;
    margin-top: 0;
    letter-spacing: 1px;
}


footer .wcs-single-right__content {
    display: none !important;
}

footer .wcs-timetable__agenda .wcs-timetable__agenda-nav a {
    font-size: 12px !important;
}

footer #single-wcs-event  {
    padding-bottom: 0 !important;
}

footer #single-wcs-event .wcs-single-left {
    text-align: left !important;
        font-size: initial !important; 
}

.inside-footer {
    margin: auto!important;
    padding: 0 5%!important;
}


/* POP UP NEWSLETTER */

.get-the-app {
    display: none;
    position: fixed;
    background: transparent;
    background: rgba(0, 0, 0, .8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999999;
}

.app-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.app-inner {
    text-align: center;
    display: table-cell;
    background:transparent;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px rgba(121,121,121,.17);
    outline: 1px solid rgba(121,121,121,.1);
    vertical-align: middle;
}

.app-content {
    width: 750px;
    min-height: 500px;
    background-color: #fff;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px #000;
    outline: 1px solid rgba(121,121,121,.1);
}

.app-left-section {
    background: #2db2cf url('https://flagboxing.com/wp-content/themes/flag-boxing/assets/img/app-blusss.png') no-repeat center/contain;
    min-height: 500px;
    background-size: 75%;
}

.app-right-section {
    min-height: 500px;
}

.download-title {
    font-size: 24px;
    text-transform: uppercase;
    color: #000;
    text-align: left;
}

.app-description {
    text-align: left;
    margin-top: 30px;
}

.app-description p { 
    color: #000;    
    font-size: 16px;
    position: relative;
    padding-left: 20px;
    letter-spacing: 1px;
    /* font-family: DIN-Regular, sans-serif; */
    margin-bottom: 10px;
    text-transform: uppercase;
}

.app-description p::before {
    position: absolute;
    content: '';
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #2db2cf;
    top: 0;
    bottom: 0;
    margin: auto;
}

.landing-background .app-description p::before {
    background-color: #fff;
}

.app-description h4 {
    font-size: 17px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.left-inner {
    padding: 5% 5% 5% 5%;
    text-align: left;
}

#close-app {
    position: absolute;
    color: #2db2cf;
    right: 30px;
    top: 5px;
    font-size: 20px;
}

.dl-appbtn:hover, .dl-appbtn:focus {
    color: #fff;
    background-color: #1d7184;
}

.dl-appbtn {
    background: #2db2cf;
    padding: 15px 22px;
    color: #fff;
    text-transform: uppercase;
    /* font-family: DIN-Regular, sans-serif; */
    font-size: 18px;
    letter-spacing: 1px;
    transition: 1s;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}
.single #single-wcs-event {
    padding-top: 100px;
}

.brine {
    font-family: Brine, sans-serif !important;
}

.fa-times:before {
    content: "x" !important;
    font-family: Brine, sans-serif !important;
    font-weight: bold !important;
}

.app-left-section {
    min-height: 500px !important;
}

.sc-icon {
    height: 40px !important;
}

.headcall-icon {
    position: absolute;
    left: 30px;
    top: 15px;
    z-index: 9;
}

.menu-left-nav, .menu-right-nav {
    margin-top: 25px;
}

.language_menu ul li a {
    margin-right: 20px;
    font-weight: bold;
    font-family: BrineExtended, sans-serif !important;
    font-size: 14px !important;
    color: #000 !important;
    display: block !important;
    padding: 7px 15px !important;
    background-color: #ffde01 !important;
    border-radius: 4px !important;
    text-transform: uppercase !important;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.right-top-wrapper {
    position: absolute;
    top: 10px;
    right:20px;
}

.right-top-wrapper ul {
    list-style: none;
    padding:0;
    margin:0;
    display:inline-block;
}

.right-top-wrapper ul li {
    display: inline-block;
    margin-right:0px;
}

.social-media-top {
    position:relative;
}
.social-media-top::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: white;
    right: -5px;
    top: 0;
}

.cart-contents {
    position: relative;
}

.cart-contents::before {
    font-family:WooCommerce;
    content: "\e01d";
    font-size:30px;
    margin-top:0px;
    font-style:normal;
    font-weight:400;
    padding: 0px 0px 10px 10px;
    vertical-align: middle;
    color: #fff;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
	color: #fff;
    background-color: #22b3d2;
    font-weight: bold;
    border-radius: 10px;
    padding: 4px 6px;
    line-height: 1;
    font-family: Brine, sans-serif;
    vertical-align: top;
    font-size: 10px;
}



#cls_carousel > div > div {
    padding-left:10px!important;
    padding-right:10px!important;
}

/* CLASS TYPE SHORTCODE */

.classtype-grid {
    margin-bottom: 30px;
}

.cc-item  {
    position: relative;
    background-color: rgba(0, 0, 0, .8);
    padding: 0px;
    min-height: 480px;  
}

.cc-title {
	margin-bottom: 20px;
    margin-top: 0;
    color: #22b1d0;
    text-transform: uppercase;
    font-family: Brine, sans-serif;
    font-weight: bold !important;
    letter-spacing: 1px;
    min-height: 50px;
    position: absolute;
    z-index: 99;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.93) 0%, rgba(0, 0, 0, 0.73) 30%, rgba(0,0,0,0.07) 75%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.93) 0%, rgba(0, 0, 0, 0.73) 30%, rgba(0,0,0,0.07) 75%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.93) 0%, rgba(0, 0, 0, 0.73) 30%, rgba(0,0,0,0.07) 75%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    padding: 25px;
    height: 140px;
    width: 100%;
    font-size: 20px;
}

.feature-imgwrapper {
    position: relative;
    height: 270px;
    overflow: hidden;
}
.cc-item .feature-singImg {
    height: 280px !important;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.cc-item:hover .feature-singImg {
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
}

.feature-singImg img {
    max-width: 100%;
   /*  height: 200px !important;
    width: auto !important; */
}

.cc-excerpt {
    color: #fff;
    font-size: 20px;
    margin-top: 8px;
    padding: 10px 25px;
}

.cc-buttons > div {
    display: inline-block;
}

.cc-learn-more a {
    display: block;
    /* font-family: Brine, sans-serif; */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color:#22b1d0;
    padding: 7px 0px;
}  

.cc-learn-more {
    position:absolute;
    bottom:25px;
    left:30px;
}

.cc-book-now {
    position:absolute;
    bottom:25px;
    right:40px;
}

.cc-book-now a {
    background: #22b1d0;
    display: block;
    padding: 5px;
    font-size: 15px;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    /* font-family: Brine, sans-serif; */
}

.cc-buttons a {
    transition: .8s;
}

.cc-book-now a:hover, .cc-book-now a:focus {
    opacity: .8;
    color: #fff;
}

.cc-learn-more a:hover, .cc-learn-more a:focus {
    opacity: .8;
    color: #22b1d0;
}

    @media (max-width: 767px) {
        .cc-title {
            font-size: 15px;
        }
        .cc-excerpt {
            font-size: 16px;

        }
        .cc-book-now a {
            line-height: 12px;
            padding-top: 8px !important;
            font-size: 12px !important;
        }

        .cc-learn-more a {
            font-size: 12px;
        }

        .cc-item {
            min-height: 420px;
        }
    }

.hmCarousel-wrapper {
    position:relative;
}

.footer-scmedia ul {
    list-style:none;
    padding:0;
    margin:0;
}

.footer-scmedia ul li {
    display: inline-block;
    padding-right: 10px;
}

.footer-scmedia {
    text-align: center;
}

.footer-scmedia img {
    height: 35px !important;
}

.footer-topsection {
    padding:  0 3% !important;
}

/**************/

.hmClass-carousel .owl-nav img {
    height: 60px;
}

.hmClass-carousel .owl-nav > div.disabled {
    display:none;
}

.hmClass-carousel .owl-nav > div {
    top: 40%;
    background: transparent !important;
    position: absolute;
}

.hmClass-carousel .owl-nav .owl-next {
    right: 0;
}

.hmClass-carousel .owl-nav .owl-prev {
    left: 0;
}

.brinble {
    font-family: Brinble, sans-serif;
}

.arial {
    /* font-family: Arial, sans-serif; */
}

.brinbe {
    font-family: Brinbe, sans-serif;
}

.home-top {
    padding-left: 10%;
    padding-right: 10%;
    min-height: 110vh !important;
}

.home-top .vc_video-bg iframe {
    /* min-height: 755px !important; */
}

.home-coaches {
    min-height: 400px;
    padding: 3% 5% 5%;
}

.featured-gallery img {
    padding-right: 5px;
}

.home-menu ul {
    list-style: none;
    padding: 0;
}

.home-menu ul li a{
    color: #fff;
    font-size: 20px;
}


.single-coach {
	position: relative;
	overflow: hidden;
}

.single-coach figure {
	transition: .5s;
}

.single-coach h2 {
    position: absolute;
    /* top: 0; */
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(34, 179, 210, .9);
    padding: 15px;
    font-size: 40px;
    font-family: Brinbe, sans-serif;
    color: #fff;
    letter-spacing: 2px;
    transition: .6s;
    z-index: 99;
    opacity: 0;
}


.single-coach:hover figure {
	transform: scale(1.1);
}

.single-coach:hover h2 {
	opacity: 1;
}

    @media (max-width: 991px) {
        .single-coach h2 {
            font-size: 30px;
        }
    }


    @media (max-width: 767px) {
        .single-coach h2 {
            opacity: 1;
        }

        .home-coaches img {
            width: 100% !important;
            height: auto !important;
        }
    }

iframe {
    height: 250px;
}

.btn-goto {
    position: absolute;
    top: 40%;
    margin: auto;
    height: 60px;
    left: 0;
    right: 0;
}

.btn-goto a {
   border: 2px solid #88d1d6 !important;
   background-color: #22b3d2 !important;
}

.single #single-wcs-event .wcs-single-left {
    font-size: 16px;
    text-align: left !important;
}

.nav-icon {
    display: block;
}


footer {
    background-color: #000;
    padding: 0px 15px 0;
}

.footer-text {
    margin-top: 15px;
    margin-bottom: 0;
    font-family: Brinbe, sans-serif;
    color: #1e8ea6;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .8s;
}

a.footer-text:hover,
a.footer-text:focus {
    color: #fff;
}

    @media (max-width: 768px) {
        footer .vc_row {
            padding: 0px 15px !important;
        }
    }

.cart-empty {
    margin-top: 50px;
}

/* Style for products */

.pg-product-single {
    padding: 50px 15px;
}

.pg-product-single img {
    max-width: 100%;
    height: auto;
}

.ce-title {
    color: #22b3d2;
    font-family: Brinble, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    margin: 0;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 20px;
}

.ce-price {
    color: #333;
    letter-spacing: .5px;
    font-size: 26px;
}

 .ce-instructor {
    color: #333;
    font-size: 20px;
 }

.ce-content {
   font-size: 20px;
    line-height: 28px;
}

.ce-content a {
    color:#333;
}

.ce-content a:hover, 
.ce-content a:focus {
    color: #333;
}

.course-outline {
    padding-top: 50px;
}

.classtype-location iframe {
    height: 450px;
    width: 100% !important;
}

.termsAndConditions {
    border: 2px solid #22b3d2;
    padding: 20px;
}

.pakcages-details, .single-addtocart {
    max-width: 250px;
}

.packages-titlein {
    background-color: #22b3d2;
    display: block;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    padding: 18px 10px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    font-family: Brine, sans-serif;
    font-weight: bold;
}

.single-itocart {
    background-color: #000;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.single-itocart a {
    color: #fff;
    text-align: center;
    font-size: 22px;
    display: block;
}

.packages-header:hover,
.packages-header a:hover,
.packages-header:focus,
.packages-header a:focus {
    background-color: #000;
    color: #fff;
}

/* .class_addtocart > div {
    display: inline-block;
    max-width: 250px;
} */

.packages-header, .all-packages-dropdown {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding: 15px;
    width: 100%;
    border: none;
    font-family: Brine, sans-serif;
    border-radius: 0px;
    white-space: normal;
    text-transform: uppercase;
}

.all-packages-dropdown {
    position: relative;
    transition: 1s;
    -webkit-transition: 1s;
        padding: 0;
}

.all-packages-dropdown li a {
    color: #fff !important;
    text-transform: uppercase;
    border-bottom: 1px solid #6f6f6f;
     padding: 10px 15px;
    white-space: normal !important;
}
    
.all-packages-dropdown li a:hover,
.all-packages-dropdown li a:focus {
    background-color: #000 !important;
    color: #fff !important;
}


#qty-input {
	outline: none;
    border: 1px solid #a5a5a5;
    width: 50px;
    min-height: 50px;
    text-align: center;
    font-size: 20px;
}

#addTocart-id {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 11px 25px;
    height: 50px;
    margin-left: -5px;
    margin-top: 2px;
    position: relative;
}

.disable-addtocart {
	pointer-events: none;
    opacity: .8;
    display: none;
}

.event-sold-out {
	display: inline-block;
    background-color: #22b2d1;
    color: #fff;
    padding: 10px;
}

    @media (max-width: 1200px) {

        .single-addtocart {
            margin-bottom: 30px;
        }

        .pakcages-details, .single-addtocart {
            max-width: 250px;
        }
    }
    @media (max-width: 991px) {
        #addTocart-id {
            padding: 13px 25px;
        }
    }

/* CART */

.woocommerce .cart_item a.remove {
    width: 26px;
    height: 26px;
    display: inline-block;
    color: #7c7c7c !important;
    border: 1px solid #7c7c7c;
    font-size: 20px;
    line-height: 21px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}

.woocommerce table.shop_table th {
    padding: 12px;
}

.woocommerce .cart_item a.remove:hover {
    background: transparent;
    color: red !important;
    border-color: red !important;
}

.woocommerce-page .default_sitecontent {
    padding: 0;
}

.woocommerce table.shop_table td {
    text-transform: uppercase;
}

.product-name br {
    display: none;
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    max-width:80px;
}

.woocommerce table.shop_table tbody tr:last-child {
    background-color: #f6f6f6;
}

.woocommerce table.shop_table tbody tr:last-child .coupon {
    display:none;
}

.woocommerce table.shop_table tbody tr:last-child .actions {
    background: #f2f2f2;
    border: 0;
    padding: 30px 20px;    
}

.woocommerce table.shop_table tbody tr:last-child input {
    border: 2px solid #000 !important;
    font-size: 14px;
    padding: 15px 35px !important;
    color: #000 !important;
    /* font-family: DIN-Regular, sans-serif !important; */
    font-weight: normal !important;
}

.woocommerce table.shop_table tbody tr:last-child input:hover {
    border-color:#23a3bc !important;
}

.woocommerce table.shop_table tbody tr td {
    padding:20px;
}

.cart_totals {
	width:  100% !important;
}

.cart_totals  h2 {
        font-weight: bold !important;
    text-transform: uppercase;
    font-size: 18px !important;
    font-family: Brinble, sans-serif !important;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 15px;
    color:#21adcb !important;
}

/*.cart_totals h2::before {*/
/*    content: '';*/
/*    height: 2px;*/
/*    width: 50px;*/
/*    background-color: #000;*/
/*    bottom: 15px;*/
/*    position: absolute;*/
/*}*/

.order-total {
    background-color: #fff !important;
}

.cart-subtotal th {
    color:#808080 !important;
}

.order-total th {
    text-transform: uppercase;
}

.woocommerce-page .woocommerce .wc-proceed-to-checkout a {
    min-width: 200px !important;
    font-size: 20px !important;
    display: inline-block !important;
    text-align: right !important;
    float: right !important;
    border: 2px solid #000 !important;
    background-color: #000 !important;
    color: #fff !important;
    font-size: 14px !important;
    padding: 25px 50px !important;
    /* font-family: DIN-Regular, sans-serif !important; */
    letter-spacing: 1px !important;
}

.woocommerce-page .woocommerce .wc-proceed-to-checkout a:hover {
	border:  2px solid #21adcb !important;
}


.cart-collaterals {
    padding: 15px;
}

.cart-collaterals .classtype-grid {
	width: 50% !important;
}

.cart-collaterals .cc-book-now a {
    font-size: 10px;
}

.cart-collaterals .cc-learn-more a {
	font-size: 12px;	
}

.cart-collaterals .cc-title, .cart-collaterals .cc-excerpt {
	font-size: 16px;	
}

.cart-collaterals .cc-item {
	min-height: 420px;
}

.cart-collaterals .feature-singImg {
	height: 150px;
}

.cart-related-title {
	font-weight: bold !important;
    text-transform: uppercase;
    font-size: 18px !important;
    font-family: Brinble, sans-serif !important;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 15px;
    color: #21adcb !important;
}

.related-item {
	margin-left: -15px;
    margin-right: -15px;
}

    @media(min-width:1281px) {
        .fl-header-wrapper.scrolled .dl-app {
            top: 18% !important;
        }

        .fl-header-wrapper .dl-app {
            top: 25% !important;
        }
    }

    @media (max-width: 1280px) {

        .headcall-icon {
            left:15px;
        }   

        footer {
            padding: 30px 15px;
        }

    }

    @media (max-width: 991px) {

        .footer-scmedia {
            text-align: center;
            margin-top: 15px;
        }

        .footer-text {
            font-size: 12px;
            text-align: center;
        }

        .footer-pdfs {
            text-align: center;
        }

    }

    @media (max-width: 767px) {


        .cart-collaterals .classtype-grid {
            width: 100% !important;
        }

        .page-fbtitle {
            font-size: 30px;
        }

        .page-subfbtitle {
            font-size: 15px;
        }

        .home-coaches .vc_custom_heading {
            font-size: 28px;
        }

        .fb-section-title {
            font-size: 25px !important;
            line-height: 40px;
            padding-top: 30px;
        }
        
        .home-top-inner {
            padding:5%;
        }

        .home-top-title {
            font-size: 40px!important;
        }
        
        .home-top {
            padding-left: 5%;
            padding-right: 5%;
        }

        .social-media-top {
            display: none !important;
        }

        .right-top-wrapper ul li {
            display: inline-block;
            margin-right: 10px;
            top: 10px;
            position: relative;
        }
    }

/* JOIN US */

.landing-withback {
    margin-top: 0px;
}

.app-market {
    display: inline-block;
    margin-bottom: 0px;
}

.app-market img{
    margin-top: 10px;
    padding-left: 5px;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    height: 55px !important;
    width: auto;
    display: inline-block;
}

/* LANDING TEXT */
.landing-text .wpb_wrapper {
    text-align: left !important;
}

.landing-text ul {
    list-style: none !important;
    padding-left: 50px;
    text-align: left;
}

.landing-text ul li span:before {
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    margin-right: 10px;
    vertical-align: middle;
    margin-left: -30px;
}

.landing-text {
margin-top: 50px;
    text-shadow: 0px 0px 10px #00000047;
    padding-left: 10% !important;
    color: #fff;
    text-align: center !important;
}
.landing-text span, .landing-text p {
    font-size: 20px !important;
}
.landing-title {
    text-align: left !important;
    font-family: Brine, sans-serif !important;
    font-size: 35px !important;
    font-weight: bold;
    border: 1px solid #fff;
    padding: 15px;
    padding-bottom: 10px;
    color: #fff !important;
    display: inline-block;
    width: auto;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.landing-subtitle {
    color: #fff !important;
    margin-top: 0px;
    font-size: 25px !important;
}
.landing-background {
        background-attachment: fixed;
        background-position: top !important;
}
     @media (max-width: 767px) {
        .landing-text {
            margin-top: 0px !important;
            padding:  0 15px !important;
        }
        .app-description {
            margin-top: 5px;
        }
        .app-description p , .app-description span,.landing-text span{
            font-size: 16px !important;
        }
        .landing-title {
            font-size: 30px !important;
            text-align: center !important;
            /*margin-bottom: 20px;*/
            display: block;
        }
        .landing-subtitle {
            margin-top: 0px;
            font-size: 20px !important;
            margin-bottom: 20px;
        }

        .landing-text .vc_empty_space {
            display: none;
        }
     }

/* home-featured-video */

.home-feature-video {
    margin-top: -100px;
}
.home-feature-video .wpb_content_element{
    margin-bottom: 0px !important;
}

.home-featured-text {
    position: absolute;
    z-index: 99;
    top: 40%;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.home-featured-text .wpb_wrapper {
    background-color: #0303037d;
    padding: 20px;
}

.home-feature-video .video-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    background-color: #00000000;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

    @media (max-width: 1280px) {
        .home-feature-video {
            margin-top: 40px;
        }
    }

    @media (max-width: 768px) {
        .home-featured-text{
            top: 10%;
        }
        .home-featured-text h2 {
            font-size: 14px !important;
        }
        .home-feature-video .video-overlay {
            background-image: url(https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/11/30050913/2014-09-15-16.35.251.jpg);
            background-size: cover;
            background-position: center center;
        }
    }
    @media (max-width: 540px) {
        .home-featured-text{
            top: 0%;
        }
        .home-featured-text h1 {
            font-size: 20px !important;
        }

    }
/* 
.app-market {
    display: inline-block;
    margin-bottom: 0px;
}

.app-market img{
    margin-top: 10px;
    padding-left: 5px;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    height: 55px;
    width: auto;
    display: inline-block;
}

.landing-text {
    margin-top: 100px;
    text-shadow: 0px 0px 10px #00000047;
    padding-left: 10%;
    color: #fff;
    text-align: center !important;
}
.landing-title {
    text-align: center !important;
    font-family: Brine, sans-serif !important;
    font-size: 30px !important;
    font-weight: bold;
    border: 1px solid #fff;
    padding: 15px;
    padding-bottom: 10px;
    color: #fff !important;
    display: inline-block;
    width: auto;
    line-height: 30px;
}
.landing-background {
        background-attachment: fixed;
} */

/* COMING SOON */

.coming-soon-popup {
    display: none;
    position: fixed;
    background: transparent;
    background: rgba(0, 0, 0, .9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999999;
}
.coming-soon-popup #close-app {
    background-color: transparent;
    color: #fff;
}
/* .page-id-3272 .coming-soon-popup {
    display: block;
} */

.coming-soon-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.coming-soon-content {
    width: 750px;
    min-height: 500px;
    background-color: #fff;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px #000;
    outline: 1px solid rgba(121,121,121,.1);
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/flagboxing/wp-content/uploads/2017/11/30050913/2014-09-15-16.35.251.jpg);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 300px;
}

.coming-soon-content .comingsoontxt {
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    text-align: center;
    height: 100px;
}


.coming-soon-content h1 {
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    background-color: rgba(0, 0, 0, 0.25882352941176473);
    padding: 10px;
    width: 350px;
    border: 1px solid;
    text-align: center;
    margin: auto;
}

/* .coming-soon-content h1#ws-pop-head {
    display: none;
    width: 600px;
}
 */

.single-class .coming-soon-content h1#ws-pop-head,
.page-id-1717 .coming-soon-content h1#ws-pop-head {
    word-break: break-word;
    width: 90%;
    display: block;
}

/* .page-id-529 .coming-soon-content a.pckge-cls,
.single-class .coming-soon-content a.pckge-cls,
.single-class .coming-soon-content h1#packages-pop-head,
.page-id-1717 .coming-soon-content a.pckge-cls,
.page-id-1717 .coming-soon-content h1#packages-pop-head {
    display: none;
} */

.coming-soon-content a {
    display: none;
    color: #000000;
    text-transform: uppercase;
    border: none;
    margin-top: 10px;
    display: inline-block;
    padding: 0px 10px;
    background-color: #fff;
}


    @media (max-width: 750px) {
        .coming-soon-content {
            min-height: 450px;
        }
        .coming-soon-content .comingsoontxt {
            top: 70px;
        }
        .coming-soon-content, .coming-soon-content h1 {
            width: 90%;
        }
    }

.full-height > div {
    height: auto;
}

.single-mediacoverage {
    padding: 50px !important;
}

.default_sitecontent > div {
    min-height: auto !important;
}

/* FROM: STYLE.CSS; */

/*
Theme Name: Flag Boxing
Theme URI: https://sarchitech.com/
Author: Sarchitech
Author URI: https://sarchitech.com/
Description: This is a website for a female kickboxer from saudi arabia.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Female Boxer, Saudi Arabia, Flag Boxing in Saudi, Sarchitech
Text Domain: 

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


.default_sitecontent {
    min-height:500px;
}

.default_sitecontent > div {
    max-width: 100% !important;
}

.header-default {
    /* background-color: #000; */
    /* min-height: 50px; */
    width: 100%;
}

.default_title {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    margin: 50px;
    position: relative;
}

.default_title::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #333;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.err_page {
    padding: 150px 0;
}

.contact-frm label {
    color: #fff;
    text-transform: uppercase;
    font-family: DINRegular, sans-serif;
    letter-spacing: 2.2px;
}

.contact-frm input, .contact-frm select {
    height: 45px;
}

.contact-frm input, .contact-frm select, .contact-frm textarea {
    background-color: rgba(255, 255, 255, .9);
    border: none;
}

.contact-frm input:focus, .contact-frm select:focus, .contact-frm textarea:focus {
    outline: none;
}

.contact-frm input[type=submit] {
    background-color: transparent;
    color: #fff;
    border: 1px solid #eee;
    min-width: 200px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: DIN-Bold, sans-serif;
    font-weight: bold;
    transition: .5s;
}

.contact-frm input[type=submit]:hover, 
.contact-frm input[type=submit]:focus {
    background-color: #094b59;
    border-color: #094b59;
}

.contact-frm #gform_confirmation_message_1 {
    color: #fff;
    font-size: 45px;
    margin-top: 20px;
}

.contact-frm .gform_wrapper .gfield_required {
    color: #eee;
}

.contact-frm .validation_error {
    color: #fff !important;
    border-color: #fff !important;
    font-family: DINRegular, sans-serif !important;
    font-weight: normal !important;
}

.contact-frm .gfield_error {
    border: none !important;
    padding: 10px !important;
}

.contact-frm .gfield_error label {
    color: #fff !important;
}

.contact-frm .gfield_error .gfield_description {
    color: #fff;
    font-family: DIN-Regular, sans-serif;
    font-weight: normal;
}

.contact-frm .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
    border: 1px solid #eee !important;
}

.contact-social {
    display: inline-block;
    margin-right: 5px;
}


/* SOCIAL MEDIA ICONS */

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-facebook-f::before,
.fa-facebook::before {
  content: "\f09a";
}

.fa-youtube::before {
  content: "\f167";
}

.fa-snapchat-ghost::before {
  content: "\f2ac";
}

.fa-instagram::before {
  content: "\f16d";
}



@media (max-width:991px) {
    
    .cart_totals  {
        width: 90% !important;
    }
    
    #single-wcs-event .wcs-single__image {
        width:80% !important;
        height: auto !important;
    }
    
}


.wcs-timetable--1 .wcs-timetable__carousel .wcs-class {
        border: 1px solid #eee !important;
}

.media-coverage-logo .vc_images_carousel {
    width: 100% !important;
}

.media-coverage-logo .vc_gitem-animated-block {
    filter: grayscale(100%);
    transition: .8s;
}

.media-coverage-logo .vc_gitem-animated-block img {
    height: 200px;
}

.media-coverage-logo .vc_gitem-animated-block:hover {
    filter: grayscale(0);
}


.media-coverage-logo .vc_images_carousel .vc_carousel-control {
    background-color: #262626;
    height: 30px;
    width: 30px;
    color: #fff;
    text-shadow: none;
    font-size: 65px;
    opacity: 1;
}

.media-coverage-logo .vc_images_carousel .vc_carousel-control.vc_left {
    left: -5%;
}

.media-coverage-logo .vc_images_carousel .vc_carousel-control.vc_right{
    right: -5%;
}

.fbx-logo img {
    height: 100px;
    width: auto;
}


.news-items {
    padding: 0 !important;
}

.more-news-items a:first-child {
    display: block;
    position: relative;
    height: 200px;
    overflow: hidden;
}

.media-thead-n {
    font-size: 30px;
    line-height: 15px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #222222;
    border: none;
    padding: 12px 5px;
    font-family: DINBold, sans-serif;
    text-align: left;
    margin-top:100px;
    margin-bottom: 30px;
}

.vc_icon_element.vc_icon_element-outer.icons-footer {
    display: inline-block !important;
    margin-left: 5px !important;
}

.bottom-footer {
    padding: 0 !important;
}


.top-header {
    display: none !important;
}

.menu-navigation > div {
    display: inline-block;
    vertical-align: middle;
}

.menu-navigation .site-logo {
    margin:  0 30px;
    z-index: 99999;
    position: relative;
}

.menu-navigation .site-logo img {
    height: 110px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.fl-header-wrapper {
    background-color: #131416;
    text-align: center;
    /*padding: 10px 0;*/
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.fl-header {
    position: relative;
}

.flagbx-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flagbx-menu ul li {
    display: inline-block;
    padding: 0 10px;
}

.flagbx-menu ul li a {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-family: DIN-Regular, sans-serif;
    letter-spacing: .5px;
}

.flagbx-menu ul li.current-menu-item a {
    color: #38b9d5;
}

.flagbx-menu ul li a:hover {
    color: #2eb7d4;
}

.language-menu {
    position: absolute;
    right: 0;
    z-index: 9;
    top: 25%;
    right: 20px;
}

.language-menu ul li a {
    font-family: DIN-Regular,sans-serif !important;
    font-size: 14px !important;
    color: #000 !important;
    display: block !important;
    padding: 12px 15px !important;
    background-color: #ffde01 !important;
    border-radius: 4px !important;
    text-transform: uppercase !important;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.dl-app {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.dl-app a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF !important;
    text-transform: uppercase;
    font-size: 18px !important;
    font-size: 1.125rem;
    background: #00718a;
    padding: 0 15px;
    line-height: 50px;
    vertical-align: top;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.dl-app .slant-border {
    height: 0;
    width: 0;
    display: inline-block;
    border-bottom: 50px solid transparent;
    border-left: 25px solid #00718a;
    left: 0;
    top: 0;
    margin-left: -4px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.fl-header-wrapper.scrolled .dl-app .slant-border {
        margin-left: -3px;
}

.fl-header-wrapper.scrolled .dl-app a {
    font-size: 16px !important;
}

.fl-header-wrapper.scrolled .language-menu {
    top: 16%;
}

.fl-header-wrapper.scrolled .menu-navigation .site-logo img {
    height: 80px;
}

.mobile-bars {
    display: none;
    position: absolute;
    left: 15px;
    bottom: 10px;
    z-index: 99999;
}

.nav-icon span {
    background: #fff !important;
}

/* HOME PAGE */

.home-workshops {
    margin: 0 !important;
}

.vc_carousel-slideline {
    max-width: 100%;
}

.vc_images_carousel {
    max-width: 100%;
}


    @media (max-width: 1280px) {

        .flagbx-menu {
            display: none !important;
        }

        .mobile-bars { 
            display: block;
        }
          .fl-header-wrapper.scrolled .dl-app a {
            line-height: 30px;
        }

        .fl-header-wrapper.scrolled .dl-app .slant-border {
            border-bottom: 30px solid transparent;
            border-left: 18px solid #00718a;
        }

        .fl-header-wrapper.scrolled .nav-icon {
            width: 40px;
            height: 30px;
        }

        .fl-header-wrapper.scrolled .nav-icon.open span:nth-child(5) {
            left: 4px;
            top: 17px;
        }

        .fl-header-wrapper.scrolled .nav-icon.open span:nth-child(6) {
            left: calc(50% - 1px);
            top: 17px;
        }

        .fbx-wrappermn.shw {
            z-index: 99 !important;
        }

    }

    @media (max-width: 1200px) {

        .media-coverage-logo .vc_images_carousel.vc_build .vc_carousel-slideline .vc_carousel-slideline-inner>.vc_item img {
            width: 180px;
            height: auto;
        }

        .week-class {
            width: 100%;
            padding-bottom: 0 !important;
            padding-top: 5% !important;
        }

        .class-carousel {
            width: 100%;
        }

        .upcoming-class {
            padding: 0 5% !important;
        }

        .upcoming-class .wcs-class__image {
            height: 280px !important;
        }

        .coaches-home {
            width: 100% !important;
        }


    }

    @media (max-width: 1040px) {
       /* .top-header {
            display: block !important;
        }*/

        .flagbx-menu ul li a {
            font-size: 14px;
        }

        .flagbx-menu ul li {
            padding: 0 5px;
        }
    }
/*
    @media (max-width: 991px) {
      

    }   */

/***********/

/* OVERRIDE */

.wcs-modal__inner-side .wcs-btn.wcs-btn--action {
    background-color: #23a3bc !important;
}

.wcs-modal h2 small {
    color: #fff !important;
} 

.wcs-modal__meta li:first-child {
    padding-left: 0 !important;
}

.wcs-modal__meta li {
    
        padding: 0 !important;
    display: block !important;
    margin-right: 0px !important;
}

iframe {
    /* width: 100% !important; */
    border:  none !important;
}

.media-title-block {
    text-align: left;
    display: inline-block;
    height: 60px;
}

.we-are-featured img {
    max-width: 100%;
    height: auto !important;
}

.we-are-featured table {
    height: auto !important;
}

.we-are-featured td {
    vertical-align: top;
}

    @media (max-width: 1080px) {

        .schedule-workshop, .workshop-schedtitle {
            width: 100% !important;
        }

    }

    @media (max-width: 991px) {

        .full-width-in-mobile {
            width: 100% !important;
            margin: auto !important;
            min-height: 100vh;
        }

    }

    @media (max-width: 767px) {

        .app-content {
            width: auto;
        }


        .we-are-featured td {
            vertical-align: top;
            display: block;
            text-align: center;
        }

    }

    @media (max-width: 600px) {

        .app-left-section {
            display: none;
        }

        .app-right-section {
            width: 100%;
        }

        .app-wrapper, .app-inner {
            display: block;
        }

        .app-content, .app-right-section {
            min-height: 200px;
        }

        .get-our-app {
            top: initial !important;
        }

        .left-inner {
            padding: 2% 5%;
            text-align: left;
        }

        .download-title {
            font-size: 20px;
            margin-top: 10px;
        }

        .app-description p {
            font-size: 12px;
            margin-bottom: 5px;
        }

        .dl-appbtn {
            padding: 10px 15px;
            font-size: 12px;
        }

        .app-description {
            margin-top: 10px;
        }

        .dl-appbtn {
            padding: 10px 5px;
        }

    }

/***********/

/* CHECKOUT */

.cross-sells {
    display: none !important;
}

.woocommerce form .form-row .required {
    text-decoration: none !important;
}

.checkout-wrapper {
    padding: 0 5% 5%;
}

.checkout-wrapper input {
    display: block;
    height: 42px;
    padding: .5714285714285714rem;
    font-size: 14px;
    line-height: 1.42857;
    color: #464646;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}


/* ************************* */


/* DOWNLOAD APP */

.dl-appbtn, .dl-appbtn:hover {
    background-color: #fff;
    padding: 0px;
    width: auto;
    margin-right: 0px;
}
.dl-appbtn img {
    max-width: none;
    height: 40px;
    width: auto;
}

@media (max-width: 768px) {
    .dl-appbtn img {
        height: 35px;
    }
}


/* PACKAGE */

.package-list {
    padding: 25px 100px;
}


@media (max-width: 768px) {
    .package-list {
        padding: 25px 15px;
    }
}
.package-list .package-header{
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
}
.package-list .package-header h2{
    font-family: Brine, sans-serif !important;
    margin-bottom: 0px;
    text-transform: uppercase;
    margin-top: 0px;
}

.package-list .wpb_content_element {
    margin-bottom: 0px;
}
.package-list .package-item {
    margin-bottom: 70px;
    text-align: center;
}

.package-list .package-item > .package-item-inner {
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #33333345;
    border: 1px solid #fff;
    width: 300px;
    display: inline-block;
    margin-left: 12px;
    margin-bottom: 20px;
}
.package-list .package-item h3{
    padding: 20px 10px;
    font-size: 30px;
    font-weight: normal;
    margin: 0px;
    background-color: #efefef;
    color: #333;
}
.package-list .package-item p {
    margin: 0px;
}
.package-list .package-item p strong{
    font-weight: normal;
    background-color: #333;
    display: block;
    color: #fff;
    padding: 10px;
}

.package-list .package-item p strong.signup-btn {
    text-transform: uppercase;
    background-color: #1e92a9;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
}

.package-list .package-item p strong.signup-btn:hover {
    background-color: #ffffff;
    color: #1e92a9;
    font-weight: bold;
}

/* HOME - FEATURED NEWS */

.owl-carousel.owl-drag .owl-item>div {
    margin-bottom: 0px;
}

.owl-carousel.owl-drag .owl-item {
    overflow: hidden;
    margin-bottom: 35px;
}
.owl-carousel .owl-item img {
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
}

.owl-carousel .owl-item:hover img {
    transform: scale(1.5);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

    @media (max-width: 768px) {

        .owl-carousel .owl-item:hover img {
            transform: scale(1);
            transition: 1s;
            -webkit-transition: 1s;
            -moz-transition: 1s;
        }

    }

/* PASST WORKSHOP */

.pastworkshop-content {
    padding: 15px !important;
}

.pastworkshop-content .default-fbBtn {
    margin-bottom: 0 !important;
}


/* ALL MEDIA NEWS */

.all-media-news .owl-nav{
    
}
.all-media-news .owl-nav img {
    width: 20px;
}
.all-media-news .owl-nav > div {
    position: absolute;
    z-index: 999;
    top: 20%;
    background-color: rgba(0, 0, 0, .8) !important;
    border-radius: 0px !important;
}
.all-media-news .owl-nav .owl-prev {
    left: 0;
}
.all-media-news .owl-nav .owl-next {
    right: 0;
}


/* CONFIRMATION MESSAGE */

#gform_confirmation_wrapper_1 {
	margin-top: 100px;	
}


/* REMOVE - CREATE AN ACCOUNT - CHECKOUT PAGE */

.woocommerce-account-fields .create-account {
    display: none;
}

.woocommerce-order {
    padding: 0 100px;
}


.pg-reated-class {
    padding: 0 30px;
}

.sold-out_icon {
        width: 180px;
}

    @media (max-width: 767px) {

        .woocommerce-order {
            padding: 0 30px;
        }
    }